{{ $monsters := slice }}
{{ $s := newScratch }}
{{ $s.Set "data" dict }}

{{ $monsters := slice }}
{{ with site.Data.monsters }}
  {{ range $entry := . }}
    {{ $svg := partialCached "GetMonsterSVG" .id .id }}
    {{ with $svg }}
      {{ with $entry }}
        {{ $monster := dict
          "id" (urlize .name) 
          "name" .name
          "league" .league
          "spotted" .spotted
          "svg" $svg
        }}
        {{ $monsters = $monsters | append $monster }}
      {{ end }}
    {{ end }}

  {{ end }}
{{ end }}

{{ return $monsters }}