{{ $monsters := slice }}
{{ $s := newScratch }}
{{ $s.Set "data" dict }}


{{ with site.Data.monsters }}
  {{ range $entry := . }}
    {{ $svg := partialCached "GetMonsterSVG" .id .id }}
    {{ with $svg }}
      {{ with $entry }}
        {{ $monster := dict
          "id" .id 
          "name" .name
          "league" .league
          "spotted" .spotted
          "svg" $svg
        }}
        {{ $s.SetInMap "data" (urlize .name) $monster }}
      {{ end }}
    {{ end }}

  {{ end }}
{{ end }}

{{ return $s.Get "data" }}